
body{
  display: flex;
  flex-direction: column;
  align-items: center;

  .App{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    //border: 1px solid red;
    border-radius: 10px;
    //background: linear-gradient(rgb(247, 117, 112), rgb(255, 207, 136));
    background: url('./images/background-blur.jpg');
    width: 100%;
    height: 600px;
    max-width: 800px;
    min-width: 500px;
  }

}
