$main-orange: #FC883A;
.ShowWeather {
  width: 65%;
  p.init-text {
    color: $main-orange;
  }

  div.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: 1px solid yellow;
    div {
      //border: 1px solid black;
      //height: 25px;
      margin: 3px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0.342);
      border-radius: 5px;
      p {
        //border: 1px solid red;
        margin: 5px;
        font-size: 18px;
        color: rgb(41, 40, 40);
      }
    }
  }
}
