$main-red:rgb(158, 24, 0);
$main-orange: #FC883A;
$main-pink: #F77670;
$main-yellow: #FFDF39;
.footer{  
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  p{
    color: $main-yellow;
    margin: 0 20px;
    a{
      text-decoration: none;
      color: $main-orange;
    }
  }
}